<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/about">About</a>
    <a class="sidebar-nav-item" href="https://github.com/han-gyeol">GitHub</a>
    <a class="sidebar-nav-item" href="https://www.linkedin.com/in/han-gyeol-oh-21424112a/">Linkedin</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/atom.xml">RSS</a>
  </nav>

  <ul>
    <li class="fa fa-envelope" aria-hidden="true" href="#"></li>
    <li class="fa fa-github" aria-hidden="true" href="https://github.com/han-gyeol"></li>
    <li class="fa fa-linkedin" aria-hidden="true" href="https://www.linkedin.com/in/han-gyeol-oh-21424112a/"></li>
    <li class="fa fa-rss" aria-hidden="true" href="{{ site.baseurl }}/atom.xml"></li>
  </ul>

  <ul>
    <li>
      <a class="fa fa-envelope" aria-hidden="true" href="#"></a>
    </li>
    <li>
      <a class="fa fa-github" aria-hidden="true" href="https://github.com/han-gyeol"></a>
    </li>
    <li>
      <a class="fa fa-linkedin" aria-hidden="true" href="https://www.linkedin.com/in/han-gyeol-oh-21424112a/"></a>
    </li>
    <li>
      <a class="fa fa-rss" aria-hidden="true" href="{{ site.baseurl }}/atom.xml"></a>
    </li>
  </ul>

  <ul>
    <li>
      <span class="fa fa-envelope" aria-hidden="true" href="#"></span>
    </li>
    <li>
      <span class="fa fa-github" aria-hidden="true" href="https://github.com/han-gyeol"></span>
    </li>
    <li>
      <span class="fa fa-linkedin" aria-hidden="true" href="https://www.linkedin.com/in/han-gyeol-oh-21424112a/"></span>
    </li>
    <li>
      <span class="fa fa-rss" aria-hidden="true" href="{{ site.baseurl }}/atom.xml"></span>
    </li>
  </ul>

  <div>
    <a class="fa fa-envelope" aria-hidden="true" href="#"></a>
    <a class="fa fa-github" aria-hidden="true" href="https://github.com/han-gyeol"></a>
    <a class="fa fa-linkedin" aria-hidden="true" href="https://www.linkedin.com/in/han-gyeol-oh-21424112a/"></a>
    <a class="fa fa-rss" aria-hidden="true" href="{{ site.baseurl }}/atom.xml"></a>
  </div>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
